* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    color: rgb(169, 150, 150);
    font-family: 'Bradley Hand', cursive;
  }


h1{
   color: rgb(46, 27, 27);
    margin-top: 40px;
  margin-bottom: 10px;
  text-align: center;
}

h3{
color: rgb(31, 19, 19);
margin-bottom: 40px;
  text-align: center;
  max-width: 700px;

}

  body{
    margin: 0;
  font-family: system-ui, sans-serif;
background-color: oklch(88.598% 0.03434 163.315);
line-height: 1.6;
display: flex;
flex-direction: column;
align-items: center;

  }

  :root {
  --verde-oklch: oklch(77.17% 0.06362 162.825);
}

.boton {
  background-color: var(--verde-oklch);
}


/* SECCIÓN MÚSICA */
.music {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  margin-bottom: 60px;
  background:oklch(94.106% 0.0379 162.539);
  border-radius: 12px;
}

.music p {
  color: rgb(114, 17, 17);
  margin-bottom: 15px;
}

.music ul {
  list-style: none;
  padding: 0;
}

.music li {
  margin-bottom: 10px;
}

.music a {
  color: #1d3639;
  text-decoration: none;
}

.music a:hover {
  text-decoration: underline;
}

.text{

text-align: center;
position: relative;
top: 250px;
width: 60%;
margin-left: auto;
margin-right: auto;
font-size: 35px;
padding: 25px;



}

.icon{
font-size: 35px;
position: relative;
top: 80px;
right: 400px;


}

/* letters */

.letter{
  max-width: 700px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 10px;
  background-color:oklch(94.106% 0.0379 162.539);
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  box-shadow: 0 8px 20px rgba(0,0,0,0.5);
  transition: color 0.3s ease;
}

.letter p{
color: rgb(114, 17, 17);
}






@media screen and (max-width: 576px) {
  /* Agrega aquí los estilos específicos para pantallas de celulares pequeños */
 
  
  
  
  /* Estilo para el ícono de despliegue */
  #menu-container i {
    font-size: 16px; /* Ajusta el tamaño del ícono según sea necesario */
    color: rgb(70, 69, 69); /* Cambia el color del ícono */
  }
  
  #menu-container:hover #menu {
    display: block;
  }
  
  #menu li {
    list-style: none;
    margin-bottom: 10px;
  }
  
  #menu li a {
    color: black;
    text-decoration: none;
  }
  
 

  .social {
    color: #000000; /* Cambia el color de los iconos sociales */
    position: absolute;
    left: 50%;
    top: 240px;
    font-size: 20px;
  }
  
  /* Estilos para la sección Bio */
  .Bio {
    position: relative;
    left: 45%;
    top: 380px;
    transform: translate(-50%, -50%); /* Centra horizontal y verticalmente */
    text-align: center;
    padding: 10px;
    margin: 20px;
  }
  h1{

position: relative;
top: 120px;
left: 10px;
  }
}




/* Media query para celulares medianos (de 577px a 767px) */
@media screen and (min-width: 577px) and (max-width: 767px) {
  /* Agrega aquí los estilos específicos para pantallas de celulares medianos */

  
  /* Estilos para el menú responsive */
  #menu-container {
    position: relative;
    display: inline-block;
    top: 30px;
    right: 10px;

  }
  
  
  /* Estilo para el ícono de despliegue */
  #menu-container i {
    font-size: 16px; /* Ajusta el tamaño del ícono según sea necesario */
    color: #ffffff; /* Cambia el color del ícono */
  }
  
  #menu-container:hover #menu {
    display: block;
  }
  
  #menu li {
    list-style: none;
    margin-bottom: 10px;
  }
  
  #menu li a {
    color: #ffffff;
    text-decoration: none;
  }
  
  #menu li a:hover {
    color: #ffa500; /* Cambia el color del enlace al pasar el ratón */
  }
  
  
  
  /* Estilos para la sección Bio */
  .Bio {
    position: absolute;
    left: 50%;
    top: 460px;
    transform: translate(-50%, -50%); /* Centra horizontal y verticalmente */
    text-align: center;
    padding: 10px;
  }

  
  
}


/* Carrusel */

.carousel {
  position: relative;
  width: 400px;
  height: 300px;
  margin: 40px auto;
  overflow: hidden;
}

/* OCULTAR RADIOS */
.carousel input {
  display: none;
}

/* SLIDES */
.slides {
  display: flex;
  width: 500%; /* 5 imágenes */
  height: 100%;
  transition: transform 0.6s ease;
}

/* IMÁGENES */
.slides img {
  width: 20%;
  height: 100%;
  object-fit: cover;
}

/* MOVIMIENTO */
#slide1:checked ~ .slides {
  transform: translateX(0%);
}

#slide2:checked ~ .slides {
  transform: translateX(-20%);
}

#slide3:checked ~ .slides {
  transform: translateX(-40%);
}

#slide4:checked ~ .slides {
  transform: translateX(-60%);
}

#slide5:checked ~ .slides {
  transform: translateX(-80%);
}

/* NAVEGACIÓN */
.nav {
  position: absolute;
  bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.nav label {
  width: 12px;
  height: 12px;
  background: #aaa;
  border-radius: 50%;
  cursor: pointer;
}

#slide1:checked ~ .nav label:nth-child(1),
#slide2:checked ~ .nav label:nth-child(2),
#slide3:checked ~ .nav label:nth-child(3),
#slide4:checked ~ .nav label:nth-child(4),
#slide5:checked ~ .nav label:nth-child(5) {
  background: white;
}










/* Media query para tablets (de 768px a 991px) */
@media screen and (min-width: 768px) and (max-width: 991px) {
  /* Agrega aquí los estilos específicos para pantallas de tabletas */
}

/* Media query para pantallas pequeñas (de 992px a 1199px) */
@media screen and (min-width: 992px) and (max-width: 1199px) {
  /* Agrega aquí los estilos específicos para pantallas pequeñas */
}

/* Media query para pantallas medianas y grandes (a partir de 1200px) */
@media screen and (min-width: 1200px) {
  /* Agrega aquí los estilos específicos para pantallas medianas y grandes */
}